<div class="flex items-start justify-between m-5 p-5" >
    <div id="card" >
        <app-single-card
                        [name]="name()"
                        [status]="status()"
                        [species]="species()"
                        [origin]="origin()"
                        [location]="location()"
                        [image]="image()" ></app-single-card>
    </div>

    <div id="table" >
        <table class="table-fixed m-5 p-5" >
            <thead>
                <tr>
                    <th class="p-3 rounded-tl-3xl
                               border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Episodio </th>
                    <th class="p-3 rounded-tr-3xl
                               border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Link </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let episode of episodes(); index as i;" >
                    <td class="p-2.5
                               border-3 border-solid border-lime-500 bg-linear-to-r from-cyan-500 to-cyan-50
                               font-['Nunito'] text-center" > {{i + 1}} </td>

                    <td class="p-2.5
                               border-3 border-solid border-lime-500 bg-linear-to-r from-cyan-50 to-cyan-500
                               font-['Nunito'] text-center" > {{ episode }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
