<div>
    <div *ngIf="characterList" class="flex items-center justify-center" >
        <table class="table-fixed w-[75%] m-6.25 p-0" >
            <thead>
                <tr>
                    <th class="p-3 rounded-tl-3xl
                               border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Immagine </th>

                    <th class="p-3
                               border-l-3 border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Nome </th>

                    <th class="p-3
                               border-x-3 border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Specie </th>

                    <th class="p-3
                               border-r-3 border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Stato </th>

                    <th class="p-3 rounded-tr-3xl
                               border-b-3 border-solid border-lime-500 bg-blue-500
                               font-['Bangers'] text-center" > Salva Nei Preferiti </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let character of characterList(); index as i;" >
                    <td class="flex items-center justify-center" >
                               <img
                                    class="h-fit w-fit m-1 p-1 rounded-2xl"
                                    src="{{character.ImmagineURL}}"
                                    alt="{{character.ImmagineURL}}" ></td>

                    <td class="p-2.5
                               border-3 border-solid border-lime-500 bg-linear-to-r from-cyan-500 to-cyan-50
                               font-['Nunito'] text-center" > {{character.Nome}} </td>

                    <td class="p-2.5
                               border-3 border-solid border-lime-500 bg-linear-to-r from-cyan-50 to-cyan-500
                               font-['Nunito'] text-center" > {{character.Specie}} </td>

                    <td class="p-2.5
                               border-3 border-solid border-lime-500 bg-linear-to-r from-cyan-500 to-cyan-50
                               font-['Nunito'] text-center" > {{character.Stato}} </td>

                    <td class="text-center" >
                        <button class="hover:cursor-pointer hover:zoom-150"
                                (click)="onClickSetFavourite(character)" > ⭐ </button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex items-center justify-between" >
        <app-button [label]="'Precedente'"
                    [size]="'medium'"
                    [type]="'button'"
                    [variant]="'operations'"
                    [router]="'/explore'"
                    (clicked)="onClickPrev()" ></app-button>

        <app-button [label]="'Successivo'"
                    [size]="'medium'"
                    [type]="'button'"
                    [variant]="'operations'"
                    [router]="'/explore'"
                    (clicked)="onClickNext()" ></app-button>
    </div>
</div>
