<div>
    <div class="flex items-end justify-end" >
        <app-button [label]="'LOGOUT'"
                    [size]="'medium'"
                    [type]="'button'"
                    [variant]="'delete'"
                    [router]="''"
                    (clicked)="onClickLogOut()" ></app-button>
    </div>

    <div class="flex items-end justify-end" >
        <app-button [label]="'Visualizza Preferiti'"
                    [size]="'medium'"
                    [type]="'button'"
                    [variant]="'operations'"
                    [router]="'favourite'"
                    (clicked)="onClickShowFavourites()" ></app-button>
    </div>

    <div class="flex items-start justify-center" >
        <app-navbar (searched)="getSearchTerm($event)" ></app-navbar>

        <app-filter></app-filter>

        <app-button [label]="'Cerca'"
                    [size]="'medium'"
                    [type]="'button'"
                    [variant]="'search'"
                    [router]="'/explore/' + characterId"
                    (clicked)="onClickSearch()" ></app-button>
    </div>

    <div class="m-41.5" ></div>

    <div>
        <router-outlet></router-outlet>
    </div>

</div>
